.login-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .login{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media (max-width:400px) {
            padding: 0 !important;
          }
        h1{
            color: rgb(215, 4, 4);
        }
        form{
            @media (max-width:400px) {
                width: 50%;
              }
            .input-group{
                display: flex;
                input{
                    border: none;
                    border-bottom: 2px solid black;
                    width: 400px;
                }
            }
            
        }
        button{
            width: 400px;
            border: 0;
            color: white;
            background-color: rgb(215, 4, 4);
            @media (max-width:400px) {
                width: 200px;
              }
        }
    }
}